
.navbar-custom {
	background-color: #ffffff;
	color: #000000;
	min-height: 30px;
	font-family: 'Reem Kufi', sans-serif;
}

.href {
	color: #000000;
}

.navbar-brand-custom {
	min-height: 30px;
	font-size: 40px;
	color: #000000;
	font-family: 'Reem Kufi', sans-serif;
}

.jumbotron-custom {
	padding-top: 16px;
  	padding-bottom: 16px;
  	margin-bottom: 16px;
  	color: inherit;
  	background-image: url(img/Banner.png);
}


h1 {
	font-family: 'Raleway', sans-serif;	
	font-size: 48px;
	font-style: bold;
	color: #ffffff;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h3 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', serif;
	font-weight : 100;
}

ul.nav li a, ul.nav li a:visited {
	
    color: #000000;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #000000;
}

ul.nav li.active a {
    color: #000000;
}
